
*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

body{

  color: #40514E;
  font-family: 'Poppins', sans-serif;
  text-align: center;

}
h1, h2, h3, h4, h5, h6{

  font-family: 'Montserrat', sans-serif;
  
}
.container-fluid{

  padding: 0;

}
.profile-pic{

  height: auto;
  width: 40%;
  margin: 80px auto 30px;

}
.big-heading{

  letter-spacing: 3px;
  color: #f0fff0;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}
.sub-heading{

  color: #66BFBF;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;

}
.semi-heading{

  color: #11999E;

}
hr{

  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #297F87, #ea7814, #F6D167) 1;
  width: 30%;
  margin: 8% auto;

}

/* Banner Section */
.box{

    background-color: #046582;
    height: 100vh;
    padding-top: 100px;
    position: relative;

}
p{

  line-height: 2;
  /* font-family: 'Montserrat', sans-serif; */
}
.box-1{

  background-color: #EDFFEC;

}
/* .box-1 .profile img{


  height: 300px;
  width: auto;
} */
.box-1 .profile p{

  width: 50%;
  margin: 10px auto;


}
.box-2{

  background-color: #C8D5B9;
  padding: 50px 0 18px;

}
.box-2 a img{

  height: auto;
  width: 30px;
  transition: all .3s ease-in-out;
 
}
.box-2 a img:hover{


  transform: translateY(-5px);
}

.smartphone, .top-cloud, .technology, .bulb{

  height: 100px;
  width: 100px;

}

.top-cloud{

 position: absolute;
 top: 50px;
 right: 300px;

}
.technology{

  position: absolute;
  left: 200px;
  bottom: 200px;

}

.developer{

  height: 60%;
  width: auto;
}

/* Skills Section */


.skill-row{

  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
  
}
.skill-row .html, .js{

  width: 25%;
  float: left;
  margin-right: 30px;
  
}
.skill-row .css{

  width: 25%;
  float: right;
  margin-left: 30px;

}
.contact-me{

  padding: 0 0 100px;

}

.contact-me p {

  width: 30%;
  margin: 30px auto 50px;

}

.BUTTON_CIZ {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 0;
  line-height: 0;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  /* width: 50%; */
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_CIZ:hover {
  border: solid #337FED 0;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AC);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AC);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AC);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AC);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AC);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
 
/* Footer Section */

.social-link{

  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  transition: all .1s ease-in-out;

}
.copyright{

  color:#40514E;
  font-size: 0.75rem;
  padding: 20px 0;
  
}
@media (max-width: 1024px){

  .box .top-cloud{

    position: absolute;
    right: 100px;

   }
   .box .technology{

    position: absolute;
    left: 100px;

   }

  .box .developer{

    height: 50%;
    width: auto;
 
  }

}
@media (max-width: 900px){

  .box .top-cloud, .technology{

   display: none;
  }

  .box .developer{

    height: 50%;
    width: auto;
 
  }

}
@media (max-width: 768px){

  .box .developer{

    height: 50%;
    width: auto;
 
  }

  .box-1 .contact-me p{

    
    align-items: center; 
    margin: 20px 50px;
    text-align: center;
    width: auto;
  }

}
@media (max-width: 500px){

 /* Banner Section */
  .box .big-heading{

    font-size: 3.5rem;
  }
  .box .sub-heading{

    font-size: 1.5rem;
  }
  .box .top-cloud, .technology{

    display: none;
  }
  .box .developer{

    margin-top: 50px;
    height: 35%;
    width: auto;
 
  }

  /* Skills Section */
  .skills .skill-row{

    margin: 100px auto 100px;
    width: 80%;
  }
  .profile .profile-pic{

    padding: 50px auto;
    height: auto;
    width: 80%;

  }
  .box-1 .profile p{

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin:  20px;
    text-align: center;
    width: auto;
  }

  
  .skills .skill-row img{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: none;
    margin: 50px auto;
    height: auto;
    width: 50%;
  }
  .skills .skill-row h3, p{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
 
  }
  .box-1 .contact-me .semi-heading{

    align-items: center; 
    margin:  20px;
    text-align: center;
    width: auto;
  }
  .box-1 .contact-me p{

    
    align-items: center; 
    margin:  20px;
    text-align: center;
    width: auto;
  }
  




}