@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=Permanent+Marker&family=Ubuntu:wght@300;400;500;700&display=swap');
/* font-family: 'Alfa Slab One', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Ubuntu', sans-serif; */

*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}
body{

  color: #40514E;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;

}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

  box-shadow: inset 50px 0 1px #add8e6; 
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #40514E; 

}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

  background-color: #11CDD4; 
}
h1, h2, h3, h4, h5, h6{

  font-family: 'Black Ops One', cursive, sans-serif;
  /* font-family: 'Alfa Slab One', cursive, sans-serif; */
  /* font-family: 'Permanent Marker', cursive, sans-serif; */
  
}
.container-fluid{ padding: 0; }

.profile-pic{

  height: auto;
  width: 40%;
  margin: 80px auto 30px;

}
.big-heading{

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 60%; 
  width: 100%; 

  filter: drop-shadow(2px 0 8px black);
  letter-spacing: 3px;
  color: #f0fff0;
  font-size: 5.625rem;
  font-weight: 800;
  margin: 50px auto 0 auto;
  z-index: 10;
}
.sub-heading{

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 60%);
  height: 100%; 
  width: 100%; 
  
  color: #f0fff0;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 10px;
  z-index: 10;

}
/* ARROW */
.box .arrow {

  position: absolute;
  top: calc(100% - 20%);
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  height: 100%; 
  width: auto; 
  z-index: 10;

}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.box .arrow a{
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  text-decoration: none;
  transition: .2s ease-in-out;
}
.box .arrow a:hover{
  color: #d3d3d3;
  border: 1px solid #d3d3d3;
}

.semi-heading{ color: #11999E; }

hr{

  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #297F87, #ea7814, #F6D167) 1;
  width: 30%;
  margin: 8% auto;

}
/* header section */
.header{

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 50px 30px;
  text-transform: uppercase;
  z-index: 100;
  transition: .3s ease-in;
  /* filter: drop-shadow(2px 0 3px #708090); */

}
.header .navbar{

  display: inline-flex;
  list-style-type: none;
  margin: 0;

}
.header .navbar li a{

  color: #fff;
  font-weight: 800;
  margin: 0 20px;
  width: 100%;
  text-decoration: none;
  word-spacing: 3px;
}
.header .navbar li a:hover{

  color: #11CDD4;
}

/* Banner Section */
.box{

    background-color: #046582;
    height: 100vh;
    /* padding-top: 100px; */
    position: relative;

}
.box .overlay{

  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(73, 73, 73,1);
  mix-blend-mode: hard-light;
  z-index: 1;

}
.box .bg-video{

  width: 100%;
  height: 100%;
  object-fit: cover;
}
p{

  line-height: 2;
}
.box-1{

  background-color: #EDFFEC;

}
/* .box-1 .profile img{


  height: 300px;
  width: auto;
} */
.box-1 .profile p{

  width: 50%;
  margin: 10px auto;
}
.box-2{

  background-color: #C8D5B9;
  padding: 50px 0 18px;

}
.box-2 a img{

  height: auto;
  width: 30px;
  transition: all .3s ease-in-out;
 
}
.box-2 a img:hover{


  transform: translateY(-5px);
}

.smartphone, .top-cloud, .technology, .bulb{

  height: 100px;
  width: 100px;

}


/* Skills Section */


.skill-row{

  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
  
}
.skill-row .html, .js{

  width: 25%;
  float: left;
  margin-right: 30px;
  
}
.skill-row .css{

  width: 25%;
  float: right;
  margin-left: 30px;

}
.contact-me{

  padding: 0 0 100px;

}

.contact-me p {

  width: 30%;
  margin: 30px auto 50px;

}

.BUTTON_CIZ {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 0;
  line-height: 0;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  /* width: 50%; */
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_CIZ:hover {
  border: solid #337FED 0;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AC);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AC);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AC);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AC);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AC);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
 
/* Footer Section */

.social-link{

  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  transition: all .1s ease-in-out;

}
.copyright{

  color:#40514E;
  font-size: 0.75rem;
  padding: 20px 0;
  
}

/* ANIMATIONS */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


@media (max-width: 1024px){

  .box .big-heading{

    font-size: 4.625rem;
  }

}

@media (max-width: 768px){

  .box .big-heading{

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 35%; 
    width: 100%; 

  }
  .box .sub-heading {

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 80%);
  height: 80%; 
  width: 100%; 
  }

  .box-1 .contact-me p{

    align-items: center; 
    margin: 20px 50px;
    text-align: center;
    width: auto;
  }

}
@media (max-width: 500px){

 /* Banner Section */
  .box .big-heading{

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 60%; 
    width: 100%; 
    font-size: 3.5rem;
  }
  .box .sub-heading{
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 65%);
    height: 100%; 
    width: 100%; 
    font-size: 1.5rem;
  }

  /* Skills Section */
  .skills .skill-row{

    margin: 100px auto 100px;
    width: 80%;
  }
  .profile .profile-pic{

    padding: 50px auto;
    height: auto;
    width: 80%;

  }
  .box-1 .profile p{

   
    margin:  20px;
    text-align: center;
    width: auto;
  }

  
  .skills .skill-row img{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: none;
    margin: 50px auto;
    height: auto;
    width: 50%;
  }
  .skills .skill-row h3, p{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
 
  }
  .box-1 .contact-me .semi-heading{

    align-items: center; 
    margin:  20px;
    text-align: center;
    width: auto;
  }
  .box-1 .contact-me p{

    
    align-items: center; 
    margin:  20px;
    text-align: center;
    width: auto;
  }
}
@media (max-width: 320px){

  .box .big-heading{

    font-size: 2.5rem;
    padding: 10px auto;
  }
}